{% extends 'sisprova/base.html' %}

{% block content %}

<h2>SisProva 0.1</h2>

<p>
O SisProva tem como objetivo armazenar as questões das provas realizadas pelos professores do curso de informática no campos Corrente, objetivando a reutilização destas. 
</p>
<p>
Outro princípio pelo qual o sistema foi criado é a não impressão do matérial de prova, assim ocasionando uma economia siginificativa´, levando os alunos a resolução das provas nos computadores do laborátorio. 
</p>
{% endblock %}