{% extends 'sisprova/base.html' %}

{% block content %}

<h2>{{prova_selecionada.nome_prova}}</h2>

<h2>Questoes</h2>
<form action="{% url 'respostas_selecionadas' %}" method="post">
	{% csrf_token %}
	Nome da Prova: <input type="text" name="nomealuno" class="form-control" placeholder="Ex. Samuel Oliveira" required autofocus><br>
	{%for questoe_selecionada in perguntas_objetiva %}
		id: {{questoe_selecionada.id}}<br>
		Assunto: {{questoe_selecionada.assunto}}<br>
		Data de publicacao: {{ questoe_selecionada.data }}<br>
		<p>Pergunta: <code>{{ questoe_selecionada.pergunta }}</code></p>
		a)<input type="radio" name="resp" 
		value="{{questoe_selecionada.alternativa_a}}">-{{questoe_selecionada.alternativa_a}}<br>
		b)<input type="radio" name="resp" 
		value="{{questoe_selecionada.alternativa_b}}">-{{questoe_selecionada.alternativa_b}}<br>
		c)<input type="radio" name="resp" 
		value="{{questoe_selecionada.alternativa_c}}">-{{questoe_selecionada.alternativa_c}}<br>
		d)<input type="radio" name="resp" 
		value="{{questoe_selecionada.alternativa_d}}">-{{questoe_selecionada.alternativa_e}}<br>
		e)<input type="radio" name="resp" 
		value="{{questoe_selecionada.alternativa_e}}">-{{questoe_selecionada.alternativa_e}}<br>
	{%endfor%}
	<input type="hidden" name="provaselecionada" value="{{prova_selecionada.id}}">
	<input type="hidden" name="questoes" value="{{questoes}}">
	<input type="submit" value="Responder">

	<br>
	<div class="pagination">
		<span class="step-links">
		{% if perguntas_objetiva.has_previous %}
			<a href="?page={{ perguntas_objetiva.previous_page_number }}">previous</a>
		{% endif %}
		<span class="current">
			Page {{ perguntas_objetiva.number }} of {{ perguntas_objetiva.paginator.num_pages }}.
		</span>
		{% if perguntas_objetiva.has_next %}
			<a href="?page={{ perguntas_objetiva.next_page_number }}">next</a>
		{% endif %}
		</span>
	</div>
</form>

{% endblock %}