{% extends 'sisprova/base.html' %}

{% block content %}

    <div class="row">
	    <div class="col-sm-4">
			<div class="panel panel-primary">
		        <div class="panel-heading">
		            <h3 class="panel-title"></h3>
		        </div>
		        <div class="panel-body">
		             <center>
		             	<a href="{% url 'login_professor' %}">
		             		<h2> Objetivas</h2>
		             	</a>
		             </center>
		        </div>
		    </div>
		</div><!-- /.col-sm-4 -->
	</div>
{% endblock %}